GEMINI_API_KEY="MY_GEMINI_API_KEY"
APP_URL="MY_APP_URL"
VITE_ADMIN_EMAIL=admin@lakbai.ph
MONGODB_URI=mongodb+srv://kohoyanj_db_user:fZ4gc7s0GJX8Dgxk@cluster0.4yabhmv.mongodb.net/
JWT_SECRET=sercret123
